@using Nop.Plugin.MinimumOrderAmount
@model MinimumOrderAmountModel
@{
    Layout = "_ConfigurePlugin";
}
<div class="col-md-6 col-sm-12">
    <div class="form-horizontal">
        <form asp-action="Configure" method="post">
            <div class="form-group">
                <label asp-for="MinimumOrderAmount" class="control-label"></label>
                <input asp-for="MinimumOrderAmount" class="form-control" />
                <span asp-validation-for="MinimumOrderAmount" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-success">Save Setting</button>
        </form>
    </div>
</div>
